#covidResult {
	-fx-min-width: 600px;
  -fx-max-width: 800px;
  -fx-min-height: 600px;
  -fx-max-height: 800px;
  -fx-background-color: white;
  -fx-alignment: top-center;
  -fx-padding: 15;
}

#covidAlignment {
-fx-alignment: center;
-fx-padding: 5;
}

#header {
	-fx-font: bold 30px "Arial";
	-fx-alignment: center;
	-fx-padding: 5;
	-fx-text-fill: #673500;
}

 #covidWinner {
  -fx-image: url("../Images/CovidWon.jpg");
  }

  #covidLost {
    -fx-image: url("../Images/paperWon.jpg");
    }

    #covidTIE {
        -fx-image: url("../Images/CovidTie.jpg");
        }

  #backButton {
  -fx-image: url("../Images/playAgain.jpg");
  }

   #exitButton {
       -fx-image: url("../Images/ExitButton.jpg");
       }
