#instructions {
	-fx-min-width: 400px;
  -fx-max-width: 600px;
  -fx-min-height: 400px;
  -fx-max-height: 600px;
  -fx-background-color: white;
  -fx-alignment: top-center;
  -fx-padding: 15;
}

#imageAlignment {
-fx-alignment: center;
}

 #rulesLogo {
 -fx-image: url("../Images/rulesLogo.jpg");
 }

  #backButton {
  -fx-image: url("../Images/BackButton.jpg");
  }
