#instructions {
	-fx-min-width: 500px;
  -fx-max-width: 700px;
  -fx-min-height: 500px;
  -fx-max-height: 700px;
  -fx-background-color: white;
  -fx-alignment: top-center;
  -fx-padding: 15;
}

#imageAlignment {
-fx-alignment: center;
}

 #rulesLogo {
 -fx-image: url("../Images/rulesLogo.jpg");
 }

  #backButton {
  -fx-image: url("../Images/BackButton.jpg");
  }

   #exitButton {
         -fx-image: url("../Images/ExitButton.jpg");
         }

