#instructions {
	-fx-min-width: 300px;
  -fx-max-width: 400px;
  -fx-min-height: 400px;
  -fx-max-height: 600px;
  -fx-background-color: white;
  -fx-alignment: top-center;
  -fx-padding: 15;
}

#rules {
	-fx-font: bold 18px "Arial";
	-fx-alignment: center;
	-fx-padding: 5;
}

#header {
	-fx-font: bold 30px "Arial";
	-fx-alignment: center;
	-fx-padding: 5;
}

#profilePictureAlignment {
-fx-alignment: center;
-fx-padding: 2;
}

#inputAlignment {
-fx-alignment: center;
-fx-padding: 2;
}

Button {
	-fx-color: #000000;
	-fx-shape: "M 350 300 L 500 300 L 500 200 L 350 200 L 350 300";
	-fx-background-radius: 5em;
	-fx-font: normal bold 20px 'Arial';
	-fx-text-fill: #FFFFFF;
}

Button:hover {
	-fx-color: #303030;
}

Button:focused {
	-fx-background-insets: 0, 0, 1, 2;
}

Button:pressed {
	-fx-color: #545454;
}
