#mainMenu {
	-fx-min-width: 600px;
  -fx-max-width: 800px;
  -fx-min-height: 600px;
  -fx-max-height: 800px;
  -fx-background-color: white;
  -fx-alignment: top-center;
  -fx-padding: 15;
}

#imageAlignment {
-fx-alignment: center;
}

#buttonAlignment {
-fx-alignment: center;

}


#RpsLogo {
-fx-image: url("../Images/RpsLogo.jpg");
}

#loginButton {
 -fx-image: url("../Images/loginButton.jpg");
 }

 #createUserButton {
 -fx-image: url("../Images/createUserButton.jpg");
 }

  #exitButton {
       -fx-image: url("../Images/ExitButton.jpg");
       }


