#paperResult {
	-fx-min-width: 600px;
  -fx-max-width: 800px;
  -fx-min-height: 600px;
  -fx-max-height: 800px;
  -fx-background-color: white;
  -fx-alignment: top-center;
  -fx-padding: 15;
}

#paperAlignment {
-fx-alignment: center;
-fx-padding: 5;
}

#header {
	-fx-font: bold 30px "Arial";
	-fx-alignment: center;
	-fx-padding: 5;
	-fx-text-fill: #673500;
}

 #paperWinner {
  -fx-image: url("../Images/paperWon.jpg");
  }

   #paperLost {
    -fx-image: url("../Images/HandWon.jpg");
    }

    #paperTIE {
     -fx-image: url("../Images/PaperTIE.jpg");
     }


  #backButton {
  -fx-image: url("../Images/BackButton.jpg");
  }

 #exitButton {
     -fx-image: url("../Images/ExitButton.jpg");
     }
