#selectPlayer {
	-fx-min-width: 400px;
  -fx-max-width: 600px;
  -fx-min-height: 400px;
  -fx-max-height: 600px;
  -fx-background-color: white;
  -fx-alignment: top-center;
  -fx-padding: 15;
}

#header {
	-fx-font: bold 30px "Arial";
	-fx-alignment: center;
	-fx-padding: 5;
	-fx-text-fill: #673500;
}

#buttonAlignment {
-fx-alignment: center;
}


 #spacing {
 -fx-padding: 15;
 }


  #pveButton {
  -fx-image: url("../Images/pveButton.jpg");
  }

  #pvpButton {
  -fx-image: url("../Images/pvpButton.jpg");
  }


 #exitButton {
     -fx-image: url("../Images/ExitButton.jpg");
     }


